<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                
                <strong>Cálculo de IMC</strong>
            </h2>
            <hr>
        </div>
        <img class="img-responsive" src="/home/jessikas/Documents/Node/MaisFitnessWeb/img/slide-2.jpg">
    </div>
</div>
<!-- /.row -->

<!-- Service Paragraphs -->

<div class="row">
    <div class="box">
        <div class="col-md-8">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Dados OMS
                </h2>
                <hr>
            </div>

            <p>Para mensurar a obesidade existem diversos instrumentos, entretanto dentre os métodos mais difundidos e utilizados por sua simplicidade, e baixo custo, sem comprometer sua eficiência e grau de confiabilidade das informações colhidas, está a medição de índice de massa corporal (IMC).
            O IMC é uma medida de referência internacional reconhecida pela Organização Mundial de Saúde (OMS) e avalia do nível de gordura de cada indivíduo. 
            Ele é obtido a partir da divisão do peso em quilogramas pelo quadrado da altura em metros (kg/m2). </p>
        </div>

        <div class="col-md-4">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">
                    Something More
                </h2>
                <hr>
            </div>
            <h2 class="page-header">Something More</h2>

            <p>Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips
                amets.</p>
            <a class="btn btn-primary" href="#">Click Me!</a>
        </div>
    </div>
</div>
<!-- /.row -->

<!-- Service images -->

<div class="row">

    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                Fontes baseadas em:
            </h2>
            <hr>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="/home/jessikas/Documents/Node/MaisFitnessWeb/img/oms.jpg">

            <h3>OMS</h3>

            <p>Agência especializada em saúde e subordinada à Organização das Nações Unidas (ONU).
Dentre suas atividades: coordena os esforços internacionais para controlar surtos de doenças, patrocina programas para prevenir e tratar tais doenças, apoia o desenvolvimento e distribuição de vacinas seguras e eficazes, diagnósticos farmacêuticos e medicamentos, como por meio do Programa Ampliado de Imunização. </p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="/home/jessikas/Documents/Node/MaisFitnessWeb/img/abeso.JPG">

            <h3>Abeso</h3>

            <p>Entidade brasileira multidisciplinar que reúne diversas categorias profissionais envolvidas com o estudo da obesidade, da síndrome metabólica e dos transtornos alimentares.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="/home/jessikas/Documents/Node/MaisFitnessWeb/img/crn3.png">

            <h3>CRN-3</h3>

            <p>O Conselho Regional de Nutrição de São Paulo orienta, disciplina e fiscaliza o exercício profissional do nutricionista e do técnico de nutrição em dietética.</p>
            <a class="btn btn-link btn-sm pull-right">More <i class="fa fa-angle-right"></i></a>
        </div>
    </div>
</div>